.page{
    height: 100vh;
    position: fixed;
    width: 100%;
    transition: transform 0.5s ease-in-out,opacity 0.5s ease-in-out; 
}
.page-enter{
    transform: translateX(100%); 
    opacity: 0;
}
.page-enter-active{
    transform: translateX(0); 
    opacity: 1;
}
.page-exit-active{
    transform: translateX(-100%); 
    opacity: 0;
}